doctype html
html
  head
    title Posts - BE Assignment
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navigation
      .navigation__inner
        .navigation__title BE assignment
    .content-wrapper
      block content
